@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --left_pad: 30rem;
}

/* body {
    
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;

} */
body {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #726962;
    line-height: 1;
    margin: 0;
}
header {
    background-color: #000000;
    color: white;
    padding: 2rem 0;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
header nav ul li {
    margin: 0;
}
header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.hero {
    background-color: rgb(102, 206, 244);
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 2rem 0rem;
    position: relative;
    background-image: url("Copyright_images/capstone-events-4oK5BlObZXg-unsplash.jpg");
    background-position: 00% 40%;
    height: 30rem;
    background-size: cover;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center the text vertically */
    align-items: flex-start; /* Align the text to the left */
    box-sizing: border-box;
}

.hero h1 {
    z-index: 2;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    max-width: 100%;
    width: 100%;  /* Allow the width to auto adjust */
    /* overflow-wrap: break-word; */
    margin: 0;
    margin-bottom: 1rem;
    text-align: left;  /* Align text to the left */
    padding-left: 5%; /* Add some padding to left for more space */
}

.hero p {
    z-index: 2;
    font-size: 1.5rem;
    font-family: 'Libre Baskerville', serif;
    max-width: 90%;
    width: 100%;
    margin:0;
    margin-bottom:1rem;
    color: rgb(213, 54, 26);
    overflow-wrap: break-word;
    text-align: left; /* Align text to the left */
    padding-left: 5%; /* Add some padding to left for more space */
}
.center_img {
    /* display: block;
    margin: auto;
    width: 90%; */
    margin-left: 14rem;
    margin-top: 5rem;
}
td {
    padding: 0.5rem;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
}

h2 {
    font-size: 2.1rem;
    /* margin-top: 2rem; */
    margin-bottom: 0rem;
    color: black;
}
p {
    font-size: 1.5rem;
    /* margin-top: 1rem; */
    margin-bottom: 2rem;
    font-family: "Raleway", serif;
}
.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}
#course_map {
    margin-top: 1rem;
    width: 90%;
    height: auto
}
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Adjust as needed */
    align-items: flex-start;

}
.main-images {
    /* background-color: blue; */
    width: 40%;
    display: flex;
    justify-content: space-between; /* Adds space between images */
    align-items: center; /* Align images vertically */
    gap: 2rem; /* Adds space between the images */
    flex-wrap: wrap;
    max-width: 50%;

}
.title_div {
    text-align: center;
}
.title_div h1 {
    font-size: 3rem;
}
.main-info {
    /* background-color: red; */
    width: 50%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}
#course-map {
    margin-top: 10%;
    object-fit: cover;
    max-width: 80%;
    height: auto;
    /* margin-left: 7%; */
    /* height: auto; */
}
#volunteer {
    margin-top: 8%;
    max-width: 80%; 
    /* margin-left: 7%; */
    /* height: auto; */
}
#sign-up-button {
    background-color: rgb(15, 15, 231);
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    margin-right: 0.4rem;
    
}
#showhideeventdetails {
    display: block;
    margin-bottom: 40px;
    padding: 0;
    border: 0;
}
#logo {
    width: var(--left_pad);
    /* height: auto; */
    float: left;
    margin: 0 auto; 
    padding: 0;
    display: block;
    max-width: 200;
}
div.partnerships_div {
    clear: both;
    background-color: rgb(18, 18, 161);
}
.partnerships_div h2 {
    font-size: 3rem;
    text-align: center;
    color: white;
    padding-top: 1rem;
    /* margin-top: 2rem; */
}
#runner {
    margin-top: 20%;
    max-width: 90%;
    margin-left: 3%;
    margin-right: 7%;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
#slogan {
    z-index: 2;
    font-size: 2rem;
    font-family: 'Libre Baskerville', serif;
    max-width: 90%;
    width: 100%;
    margin:0;
    color: rgb(213, 54, 26);
    overflow-wrap: break-word;
    text-align: right; /* Align text to the left */
    padding-left: 5%;
}
.partnership {
    width:17rem;
    height:17rem;
    border-radius: 3rem;
    background-color:white;
    margin-left: 2rem;
}

#ppom_logo {
    width:80%;
    height:auto;
    display: block;
    margin-left:auto;
    margin-right:auto;
    padding-top:2.4rem;
}
#large-break {
    position: sticky;
    padding: 5px;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: rgb(55, 61, 55);
    color: white;
    font-size: 30px;
}